
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'alex_brushregular';
    src: url('./fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('./fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
}

.content{
    height: 100vh;
    border: 1px solid black;
    display: flex;
}

/* ***********************
        LEFT SIDE
   *********************** */
.left-side{
    position: relative;
    width: 40%;

}

.star-ship{
    position: absolute;
    z-index: -1;
    left: 0px;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.logo-container{
    position: absolute;
    top: 20%;
    bottom: 65%;

    color: #FFF;
    background: #00000050; 
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logo{
    width: 80px;
}

.logo-text{
    font-family: 'alex_brushregular', sans-serif, Georgia;
    font-size: 40px;
}

.image-footer{
    position: absolute;
    bottom: 0px;

    text-align: center;
    width: 100%;

    color: #FFF;
}

.image-footer a{
    color: #AAA;    
}

.image-footer a:hover{
    color: #666;    
}

/* ***********************
        RIGHT SIDE
   *********************** */
.right-side{
    width: 60%;

    display: flex;
    flex-direction: column;
}

.top-form{
    flex: 1;

    color: #e28743;
    background-color: #111;
    font-size: 1.3em;

    display: flex;
}

.top-text{
    margin: auto 20% 4% 4%;
}

.form{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 50px;
}

.mid-form{
    background-color: #222;
    padding: 20px;

    flex: 1;

    display: flex;
    flex-direction: column;
}

.mid-form p{
    color: #FFF;
    font-size: 1.5em;
}

.bot-form{
    background-color: #111;
    color: #CCC;

    flex: 1;
}

.input{
    display: flex;
    flex-direction: column;

    color: #DDD
}